<ul class="actions pagination" id="pagination" style="display:none";>
    <li><a href="#" class="{{#if prev}}disabled{{/if}} button big previous" id="pagination_prev">Previous Page</a></li>
    <li><a href="#" class="{{#if next}}disabled{{/if}} button big next" id="pagination_next">Next Page</a></li>
</ul>