---
layout: base.hbs
---
<article class="post">
   {{>postHeader}}
    
    <section>
        {{!content}}
        {{#markdown}}
        {{>body}}
        {{/markdown}}
    </section>

    <hr>{{! line break }}
    <footer>
        <section>
        {{#if tags}}
            <h3>Tags</h3>
            <ul class="stats">
            
            {{#each page.tags}}
                <li><a href="#">{{this}}</a></li>
            {{/each}}
            </ul>
        {{/if}}
        </section>
    </footer>
    
    <hr>{{! line break }}
    {{>disqus}}
</article>