---
layout: base.hbs
---

<article class="post">
   {{>postHeader}}
    
    <section>
        {{!content}}
        {{#markdown}}
        {{>body}}
        {{/markdown}}
    </section>

    <hr>{{! line break }}
    <footer>
        <section>
            <h3>Tags</h3>
            <ul class="stats">
            {{#each tags}}
                <li><a href="#">{{this.tag}}</a></li>
            {{/each}}
            </ul>
        </section>
    </footer>
</article>