<h2>About</h2>
<p>This is my personal website, where I will be writing about all kinds of stuff that interests me. Take a look at my posts, and please leave a comment!</p>
<ul class="actions">
    <li><a href="{{config.baseurl}}/about.html" class="button">Learn More</a></li>
</ul>