<ul class="icons">
    
    {{#eachProperty config.links}}
        <li>
            <a href="{{value.url}}" class="{{value.icon}}" target="_blank">
                <span class="label">{{key}}</span>
            </a>
        </li>
    {{/eachProperty}}
</ul>
<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>