<a href="{{config.path.baseurl}}" class="logo"><img src="{{config.path.baseurl}}{{config.path.img}}/logo.jpg" alt="" /></a>
<header>
    <h2>Jonas Kirkemyr</h2>
    <p>My personal website and blog</p>
</header>