<!-- Search -->
<section>
    <form class="search" method="get" action="#">
        <input type="text" name="query" placeholder="Search" />
    </form>
</section>

<section>
    <h4>Search tips:</h4>
    <p>Start writing <code>:</code> to get a list of keywords available for searching</p>
    <p>Example:
        <code>:cat sample</code>
    </p>
    
    
</section>
<section>
    <ul class="links">
        {{#getLatestEntries posts "created" 10}}
            <li>
                <a href="{{link category basename}}">
                    <h3>{{title}}</h3>
                    <p>{{preview}}</p>
                </a>
            </li>
        {{/getLatestEntries}} 
    </ul>
</section>

<!-- Actions -->
{{!
<section>
    <ul class="actions vertical">
        <li><a href="#" class="button big fit">Log In</a></li>
    </ul>
</section>
}}